<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Franklin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED63FE6D1E649C3800467D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED63FE811E649C3800467D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED63FE8C1E649C3800467D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
